{% include 'header.html'%}
        <div>

            <form method="post" action="/examen">
            <p>Tendras que escribir tres numeros </p>
            <input id="input-number"class="input-examen" name="input_number1" type="number" placeholder="Escibe tu numero...">
            <br><br>
            <input id="input-number"class="input-examen" name="input_number2" type="number" placeholder="Escibe tu numero...">
            <br><br>
            <input id="input-number"class="input-examen" name="input_number3" type="number" placeholder="Escibe tu numero...">
            <br><br>
            <button type="submit" class="button-ok">Aceptar</button>
            </form>

        </div>