<!DOCTYPE html>
<html>
    <head>
        <title>Mi aplicacion web</title>
        <link rel="icon" href="assets/favicon.ico">
        <link rel="stylesheet" href="/static/styles/styles.css">
        <script src="/static/js/script.js" ></script>
    </head>
    <body>
        <header>
            <!-- a significa anchor(ancla) para hacer enlaces-->
            <!-- nuevo comentario-->
            <a href="C:\Users\alelo\OneDrive\Documentos\Semestre 3\Programacion 3\Elote\index.html">Inicio</a>
            <a href="C:\Users\alelo\OneDrive\Documentos\Semestre 3\Programacion 3\Elote\math.html">Matematicas</a>
            <a href="C:\Users\alelo\OneDrive\Documentos\Semestre 3\Programacion 3\Elote\azulejos.html">Azulejos</a>
        </header>