{% include 'header.html' %}

        <main>
            <div>
                <p>Escribe tu nombre </p>
                <input id="input-name"class="input-welcome" type="text" placeholder="Escibelo aqui">
                <button id="btn-ok"class="button-ok">Aceptar</button>
            </div>
            <div>
                <div class="tenor-gif-embed" data-postid="2223273356908318183" data-share-method="host" data-aspect-ratio="1.03286" data-width="20%"><a href="https://tenor.com/view/plink-cat-blink-blink-meme-betterttv-gif-2223273356908318183">Plink Cat Blink Sticker</a>from <a href="https://tenor.com/search/plink-stickers">Plink Stickers</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
            </div>
        </main>

        <script src="{{url_for('static', filename='js/script.js')}}"></script>

{% include 'footer.html' %}