{% include 'header.html' %}

        <main>
            <div>
                <form method="post" action="/palindrome">
                <p>Escribe una frase </p>
                <input id="input-phrase"class="input-welcome" name="input_phrase" type="text" placeholder="Escibe aqui la frase...">
                <button type="submit" class="button-ok">Aceptar</button>
                </form>

            </div>
            

        </main>

        <script src="{{url_for('static', filename='js/script.js')}}"></script>

{% include 'footer.html' %}